owner:
  name:
  markov:
    trigger:
    suffix:
    name:
    file: etc/markov
  id:

bot: 
  prefix:
  name:
  support_server:
whitelist: 
  -

sentry_dsn:
i18n_path: # https://raw.githubuserassets.com/lightbulb-bot/i18n/main/{{lng}}/{{ns}}.json